body
{
    
    background-color: rgb(165, 59, 59);
}

#left
{
    background-color:darksalmon;
    width: 60%;
    height: 50%;
    border-color: red; 
    float: left;
   
    border-style: double;
    text-align: center;
    border-radius: 50px;
}
#right
{
    height: 60%;
    float: right;
  width: 39%;
 border-color: red;
  border-style: double;
  text-align: center;
  border-radius: 50px;
  background-color:darksalmon;
  
}
#wideo
{
    margin-left: 10%;
    margin-right: 10%;
}
